<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tomcurran.remiges" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.tomcurran.remiges.JumpListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tomcurran.remiges.JumpDetailActivity"
            android:label="@string/title_jump_detail"
            android:parentActivityName="org.tomcurran.remiges.JumpListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.JumpListActivity" />
        </activity>
    </application>

</manifest>
