<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tomcurran.remiges" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.JumpListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.JumpDetailActivity"
            android:label="@string/title_jump_detail"
            android:parentActivityName=".ui.JumpListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.JumpListActivity" />
        </activity>

        <provider
            android:name="org.tomcurran.remiges.provider.RemigesProvider"
            android:authorities="org.tomcurran.remiges"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>
