<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tomcurran.remiges" >

    <permission
        android:name="org.tomcurran.remiges.permission.WRITE_LOG"
        android:description="@string/permission_write"
        android:label="@string/permission_write"
        android:protectionLevel="normal" />

    <!-- Used to access google static maps API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RemigesTheme"
        android:allowBackup="true">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.remiges.jump" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.remiges.jump" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.remiges.jump" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.remiges.jump" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.remiges.place" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.remiges.place" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.remiges.place" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.remiges.place" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.remiges.jumptype" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.remiges.jumptype" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.remiges.jumptype" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.remiges.jumptype" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.singlepane.JumpDetailActivity"
            android:label="@string/title_jump_detail"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.singlepane.PlaceDetailActivity"
            android:label="@string/title_place_detail"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.singlepane.JumpTypeDetailActivity"
            android:label="@string/title_jumptype_detail"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.singlepane.JumpTypeEditActivity"
            android:label="@string/title_jumptype_edit"
            android:parentActivityName=".ui.singlepane.JumpTypeDetailActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.singlepane.JumpTypeDetailActivity" />
        </activity>

        <activity
            android:name=".ui.singlepane.JumpEditActivity"
            android:label="@string/title_jump_edit"
            android:parentActivityName=".ui.singlepane.JumpDetailActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.singlepane.JumpDetailActivity" />
        </activity>

        <activity
            android:name=".ui.singlepane.PlaceEditActivity"
            android:label="@string/title_jump_edit"
            android:parentActivityName=".ui.singlepane.PlaceDetailActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.singlepane.PlaceDetailActivity" />
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tomcurran.remiges.ui.MainActivity" />
        </activity>

        <provider
            android:name="org.tomcurran.remiges.provider.RemigesProvider"
            android:authorities="org.tomcurran.remiges"
            android:exported="true"
            android:label="@string/app_name"
            android:writePermission="org.tomcurran.remiges.permission.WRITE_LOG" />

        <meta-data
            android:name="edu.mit.mobile.android.maps.GOOGLE_STATIC_MAPS_API_KEY"
            android:value="AIzaSyCMOjfH7AKf1ZJWFWP2jAdcvWqUd4tu4wM" />

    </application>

</manifest>
